$color-fondo-primario: black;
$color-fondo-secundario: rgb(0, 70, 156);
$color-letra: white;

@if $color-fondo-secundario == rgb(0, 70, 156) {
    $color-letra: rgb(255, 255, 255);
}@else{
    $color-letra: rgb(0, 0, 0)
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "ubuntu" sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  auto auto auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
}
header{
    background-color: black;
    grid-area: header;
    height: 10vh;
    .logo{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
    }
}
main{
    background-color: rgb(0, 70, 156);
    grid-area: main;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    ul{
        list-style-type: none;
        text-align: center;
        color: $color-letra;
    }
    .caja1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .videotrailer{
        width: 500px;
        height: 450px;
        padding: 10px;
    }
    .banner{
        height: 350px;
        width: 400px;
    }
    
}
footer{
    background-color: $color-fondo-primario;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    height: 10vh;
    align-items: center;
}
h1,h2,h3,h4,h5,h6,th{
    background-color: $color-fondo-secundario;
    text-align: center;
    padding: 20px;
    color: $color-letra;
}
p{
    color: $color-letra;
    text-align: center;
}